<div style="
display: flex;
align-items: center;
justify-content: center;
height: 100vh;">
  <div [formGroup]="formAuth" (ngSubmit)="onConnect()">
    <div>
      <div> Name </div>
      <input type="text" placeholder="username" formControlName="username">
    </div>
    <div>
      <div> Password </div>
      <input type="text" placeholder="Password" formControlName="password">
    </div>

    <div>
      <div> Email </div>
      <input type="text" placeholder="Mail" formControlName="mail">

    </div>
    <button type="submit" (click)="login()">Envoyer</button>
  </div>
  <div>
    <!-- {{formAuth.value }} -->
  </div>
</div>

<!-- <div style="
display: flex;
align-items: center;
justify-content: center;
height: 100vh;">
  <form action="" (submit)="onSubmit()">
    <div>
      <div> Name </div>
      <input type="text" placeholder="Name" name="name" [(ngModel)]="user.name">
    </div>
    <div>
      <div> Password </div>
      <input type="text" placeholder="Password" name="password" [(ngModel)]="user.password">
    </div>
    
    <div>
      <div> Email </div>
      <input type="text" placeholder="Email" name="email" [(ngModel)]="user.email">
      @if (!user.email) {
        <p>Email required</p>
        }
    </div>
    <button type="submit" (click)="onSubmit()">Envoyer</button>
  </form>
</div> -->